{% extends 'dashboard/base.html' %}

{% block title %}
داشبورد مدیریتی
{% endblock %}

{% block content %}

<!-- ======================================================================= -->
<!-- Container -->
<!-- ======================================================================= -->
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">


    <!-- ------------------------------------------------------------------- -->
    <!-- Form Control -->
    <!-- ------------------------------------------------------------------- -->
    <div class="col-lg-3 col-md-4 col-sm-4 col-12 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <!-- Header -->
          <div class="col-12 mb-2">
            <div class="text-center">
              <div class="fs-5">انتخاب منطقه</div>
            </div>
          </div>
          <!-- Ostan -->
          <div class="row">
            <div class="col-md-12 mb-4">
              <label for="ostan" class="form-label">استان</label>
              <select id="ostan" class="form-select w-100" data-style="btn-default" data-placeholder="انتخاب کنید ...">
                <option value="">انتخاب کنید ...</option>
              </select>
            </div>
          </div>
          <!-- Shahrestan -->
          <div class="row">
            <div class="col-md-12 mb-4">
              <label for="shahrestan" class="form-label">شهرستان</label>
              <select id="shahrestan" class="form-select w-100" data-style="btn-default"
                data-placeholder="انتخاب کنید ...">
                <option value="">انتخاب کنید ...</option>
              </select>
            </div>
          </div>
          <!-- Bakhsh -->
          <div class="row">
            <div class="col-md-12 mb-4">
              <label for="bakhsh" class="form-label">بخش</label>
              <select id="bakhsh" class="form-select w-100" data-style="btn-default" data-placeholder="انتخاب کنید ...">
                <option value="">انتخاب کنید ...</option>
              </select>
            </div>
          </div>
          <!-- Shahr / Rosta -->
          <div class="row">
            <div class="col-md-12 mb-4">
              <label for="shahrRosta" class="form-label">شهر / روستایی</label>
              <select id="shahrRosta" class="form-select w-100" data-style="btn-default"
                data-placeholder="انتخاب کنید ...">
                <option value="">انتخاب کنید ...</option>
              </select>
            </div>
          </div>
          <!-- Mantagheh -->
          <div class="row">
            <div class="col-md-12 mb-4">
              <label for="mantagheh" class="form-label">منطقه</label>
              <select id="mantagheh" class="form-select w-100" data-style="btn-default"
                data-placeholder="انتخاب کنید ...">
                <option value="">انتخاب کنید ...</option>
              </select>
            </div>
          </div>
          <!-- Nahyeh -->
          <div class="row">
            <div class="col-md-12 mb-4">
              <label for="nahyeh" class="form-label">ناحیه</label>
              <select id="nahyeh" class="form-select w-100" data-style="btn-default" data-placeholder="انتخاب کنید ...">
                <option value="">انتخاب کنید ...</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------- -->
    <!-- /Form Control -->
    <!-- ------------------------------------------------------------------- -->
    

    <!-- ------------------------------------------------------------------- -->
    <!-- Statistic Cards -->
    <!-- ------------------------------------------------------------------- -->
    <div class="col-lg-9 col-md-8 col-sm-8 col-12 mb-4">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <div class="avatar avatar-md mx-auto mb-3">
                <span class="avatar-initial rounded-circle bg-label-success"><i
                    class="bx bxs-store-alt fs-3"></i></span>
              </div>
              <span class="d-block mb-1 text-nowrap">تعداد نانوایی‌ها</span>
              <h2 class="mb-0 pt-1" id="number_of_bakeries">-</h2>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <div class="avatar avatar-md mx-auto mb-3">
                <span class="avatar-initial rounded-circle bg-label-primary"><i
                    class="bx bxs-building-house fs-3"></i></span>
              </div>
              <span class="d-block mb-1 text-nowrap">تعداد خانوار</span>
              <h2 class="mb-0 pt-1" id="number_of_households">-</h2>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <div class="avatar avatar-md mx-auto mb-3">
                <span class="avatar-initial rounded-circle bg-label-danger"><i class="bx bx-map-alt fs-3"></i></span>
              </div>
              <span class="d-block mb-1 text-nowrap">مساحت (هکتار)</span>
              <h2 class="mb-0 pt-1" id="area">-</h2>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <div class="avatar avatar-md mx-auto mb-3">
                <span class="avatar-initial rounded-circle bg-label-warning"><i
                    class="bx bx-male-female fs-3"></i></span>
              </div>
              <span class="d-block mb-1 text-nowrap">جمعیت</span>
              <h2 class="mb-0 pt-1" id="population">-</h2>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <div class="avatar avatar-md mx-auto mb-3">
                <span class="avatar-initial rounded-circle bg-label-info"><i class="bx bx-male fs-3"></i></span>
              </div>
              <span class="d-block mb-1 text-nowrap">جمعیت (مرد)</span>
              <h2 class="mb-0 pt-1" id="population_male">-</h2>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <div class="avatar avatar-md mx-auto mb-3">
                <span class="avatar-initial rounded-circle bg-label-danger"><i class="bx bx-female fs-3"></i></span>
              </div>
              <span class="d-block mb-1 text-nowrap">جمعیت (زن)</span>
              <h2 class="mb-0 pt-1" id="population_female">-</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-4">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="card card-border-shadow-primary h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2 pb-1">
                <div class="avatar me-2">
                  <span class="avatar-initial rounded bg-label-info"><i class="bx bx-male"></i></span>
                </div>
                <h2 class="ms-1 mb-0" id="population_number_of_bakeries_1">-</h2>
              </div>
              <h5 class="mb-0">
                <small class="text-muted">به ازای هر </small>
                <span class="fw-medium me-1" id="population_number_of_bakeries_2">-</span>
                <small class="text-muted">نفر، <span class="text-dark fw-medium">یک عدد</span> نانوایی</small>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="card card-border-shadow-success h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2 pb-1">
                <div class="avatar me-2">
                  <span class="avatar-initial rounded bg-label-success"><i class="bx bxs-store-alt"></i></span>
                </div>
                <h2 class="ms-1 mb-0" id="households_number_of_bakeries_1">-</h2>
              </div>
              <h5 class="mb-0">
                <small class="text-muted">به ازای هر </small>
                <span class="fw-medium me-1" id="households_number_of_bakeries_2">-</span>
                <small class="text-muted">خانواده، <span class="text-dark fw-medium">یک عدد</span> نانوایی</small>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="card card-border-shadow-warning h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2 pb-1">
                <div class="avatar me-2">
                  <span class="avatar-initial rounded bg-label-danger"><i class="bx bx-map-alt"></i></span>
                </div>
                <h2 class="ms-1 mb-0" id="area_number_of_bakeries_1">-</h2>
              </div>
              <h5 class="mb-0">
                <small class="text-muted">به ازای هر </small>
                <span class="fw-medium me-1" id="area_number_of_bakeries_2"></span>
                <small class="text-muted">هکتار، <span class="text-dark fw-medium">یک عدد</span> نانوایی</small>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="card card-border-shadow-info h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2 pb-1">
                <div class="avatar me-2">
                  <span class="avatar-initial rounded bg-label-info"><i class='bx bx-square-rounded'></i></span>
                </div>
                <h2 class="ms-1 mb-0" id="population_bread_rations_1">-</h2>
              </div>
              <h5 class="mb-0">
                <small class="text-muted">به ازای هر </small>
                <span class="fw-medium me-1">100</span>
                <small class="text-muted">نفر،</small>
                <span class="fw-medium me-1" id="population_bread_rations_2">-</span>
                <small class="text-muted">کیسه سهمیه آرد</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------- -->
    <!-- / Statistic Cards -->
    <!-- ------------------------------------------------------------------- -->


    <!-- ------------------------------------------------------------------- -->
    <!-- Bread Types -->
    <!-- ------------------------------------------------------------------- -->
    <div class="col-md-6 col-xl-3 col-xxl-3 order-3 order-lg-0 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h4 class="card-title mb-2">نوع پخت</h4>
          <span class="fw-normal mb-0">واحد: تعداد نانوایی‌ها</span>
        </div>
        <div class="card-body">
          <div class="progress progress-stacked mb-3" style="height: 8px">
            {% for bread_type in bread_types %}
              <div 
                id="BreadType_{{ bread_type.code }}_Bar"
                class="progress-bar m-0"
                role="progressbar"
                style="width: {{ bread_type.percent }}%; background-color: {{ bread_type.color }};"
                aria-valuenow="{{ bread_type.percent }}"
                aria-valuemin="0"
                aria-valuemax="100"
              >
              </div>
            {% endfor %}
          </div>
          <ul class="p-0 m-0">
            {% for bread_type in bread_types %}
              <li class="mb-2 d-flex justify-content-between">
                <div class="d-flex align-items-center lh-1 me-3">
                  <span class="badge badge-dot me-2" style="background-color: {{ bread_type.color }};"></span>
                  <span id="BreadType_{{ bread_type.code }}_Name">{{ bread_type.name }}</span>
                </div>
                <div class="d-flex gap-1">
                  <span id="BreadType_{{ bread_type.code }}_Percent" class="text-muted">(-)</span>
                  <span class="fw-semibold" id="BreadType_{{ bread_type.code }}_Count">-</span>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------- -->
    <!-- /Bread Types -->
    <!-- ------------------------------------------------------------------- -->


    <!-- ------------------------------------------------------------------- -->
    <!-- Flour Types -->
    <!-- ------------------------------------------------------------------- -->
    <div class="col-md-6 col-xl-3 col-xxl-3 order-3 order-lg-0 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h4 class="card-title mb-2">نوع آرد</h4>
          <span class="fw-normal mb-0">واحد: تعداد نانوایی‌ها</span>
        </div>
        <div class="card-body">
          <div class="progress progress-stacked mb-3" style="height: 8px">
            {% for flour_type in flour_types %}
              <div 
                id="FlourType_{{ flour_type.code }}_Bar"
                class="progress-bar m-0"
                role="progressbar"
                style="width: {{ flour_type.percent }}%; background-color: {{ flour_type.color }};"
                aria-valuenow="{{ flour_type.percent }}"
                aria-valuemin="0"
                aria-valuemax="100"
              >
              </div>
            {% endfor %}
          </div>
          <ul class="p-0 m-0">
            {% for flour_type in flour_types %}
              <li class="mb-2 d-flex justify-content-between">
                <div class="d-flex align-items-center lh-1 me-3">
                  <span class="badge badge-dot me-2" style="background-color: {{ flour_type.color }};"></span>
                  <span id="FlourType_{{ flour_type.code }}_Name">{{ flour_type.name }}</span>
                </div>
                <div class="d-flex gap-1">
                  <span id="FlourType_{{ flour_type.code }}_Percent" class="text-muted">(-)</span>
                  <span class="fw-semibold" id="FlourType_{{ flour_type.code }}_Count">-</span>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------- -->
    <!-- /Flour Types -->
    <!-- ------------------------------------------------------------------- -->



    <!-- ------------------------------------------------------------------- -->
    <!-- Second Fuel -->
    <!-- ------------------------------------------------------------------- -->
    <div class="col-md-6 col-xl-3 col-xxl-3 order-3 order-lg-0 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h4 class="card-title mb-2">سوخت دوم</h4>
          <span class="fw-normal mb-0">واحد: تعداد نانوایی‌ها</span>
        </div>
        <div class="card-body">
          <div class="progress progress-stacked mb-3" style="height: 8px">
            {% for sf in second_fuel %}
              <div 
                id="SecondFuel_{{ sf.code }}_Bar"
                class="progress-bar m-0"
                role="progressbar"
                style="width: {{ sf.percent }}%; background-color: {{ sf.color }};"
                aria-valuenow="{{ sf.percent }}"
                aria-valuemin="0"
                aria-valuemax="100"
              >
              </div>
            {% endfor %}
          </div>
          <ul class="p-0 m-0">
            {% for sf in second_fuel %}
              <li class="mb-2 d-flex justify-content-between">
                <div class="d-flex align-items-center lh-1 me-3">
                  <span class="badge badge-dot me-2" style="background-color: {{ sf.color }};"></span>
                  <span id="SecondFuel_{{ sf.code }}_Name">{{ sf.name }}</span>
                </div>
                <div class="d-flex gap-1">
                  <span id="SecondFuel_{{ sf.code }}_Percent" class="text-muted">(-)</span>
                  <span class="fw-semibold" id="SecondFuel_{{ sf.code }}_Count">-</span>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------- -->
    <!-- /Second Fuel -->
    <!-- ------------------------------------------------------------------- -->


    <!-- BreadRations -->
    <div class="col-md-6 col-xl-3 col-xxl-3 order-3 order-lg-0 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h4 class="card-title mb-2">سهمیه (تعداد کیسه)</h4>
          <span class="fw-normal mb-0">واحد: تعداد نانوایی‌ها</span>
        </div>
        <div class="card-body">
          <div class="progress progress-stacked mb-3" style="height: 8px">
            <div id="BreadRations_A_Bar" class="progress-bar bg-success m-0" role="progressbar" style="width: 16.667%"
              aria-valuenow="12.5" aria-valuemin="0" aria-valuemax="100"></div>
            <div id="BreadRations_B_Bar" class="progress-bar bg-danger m-0" role="progressbar" style="width: 16.667%"
              aria-valuenow="12.5" aria-valuemin="0" aria-valuemax="100"></div>
            <div id="BreadRations_C_Bar" class="progress-bar bg-warning m-0" role="progressbar" style="width: 16.667%"
              aria-valuenow="12.5" aria-valuemin="0" aria-valuemax="100"></div>
            <div id="BreadRations_D_Bar" class="progress-bar bg-primary m-0" role="progressbar" style="width: 16.667%"
              aria-valuenow="12.5" aria-valuemin="0" aria-valuemax="100"></div>
            <div id="BreadRations_E_Bar" class="progress-bar bg-dark m-0" role="progressbar" style="width: 16.667%"
              aria-valuenow="12.5" aria-valuemin="0" aria-valuemax="100"></div>
            <div id="BreadRations_F_Bar" class="progress-bar bg-info m-0" role="progressbar" style="width: 16.667%"
              aria-valuenow="12.5" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <ul class="p-0 m-0">
            <li class="mb-2 d-flex justify-content-between">
              <div class="d-flex align-items-center lh-1 me-3">
                <span class="badge badge-dot bg-success me-2"></span>
                <span id="BreadRations_A_Name">0-100 کیسه</span>
              </div>
              <div class="d-flex gap-1">
                <span id="BreadRations_A_Percent" class="text-muted">(-)</span>
                <span class="fw-semibold" id="BreadRations_A_Count">-</span>
              </div>
            </li>

            <li class="mb-2 d-flex justify-content-between">
              <div class="d-flex align-items-center lh-1 me-3">
                <span class="badge badge-dot bg-danger me-2"></span>
                <span id="BreadRations_B_Name">100-200 کیسه</span>
              </div>
              <div class="d-flex gap-1">
                <span id="BreadRations_B_Percent" class="text-muted">(-)</span>
                <span class="fw-semibold" id="BreadRations_B_Count">-</span>
              </div>
            </li>

            <li class="mb-2 d-flex justify-content-between">
              <div class="d-flex align-items-center lh-1 me-3">
                <span class="badge badge-dot bg-warning me-2"></span>
                <span id="BreadRations_C_Name">200-300 کیسه</span>
              </div>
              <div class="d-flex gap-1">
                <span id="BreadRations_C_Percent" class="text-muted">(-)</span>
                <span class="fw-semibold" id="BreadRations_C_Count">-</span>
              </div>
            </li>

            <li class="mb-2 d-flex justify-content-between">
              <div class="d-flex align-items-center lh-1 me-3">
                <span class="badge badge-dot bg-primary me-2"></span>
                <span id="BreadRations_D_Name">300-400 کیسه</span>
              </div>
              <div class="d-flex gap-1">
                <span id="BreadRations_D_Percent" class="text-muted">(-)</span>
                <span class="fw-semibold" id="BreadRations_D_Count">-</span>
              </div>
            </li>

            <li class="mb-2 d-flex justify-content-between">
              <div class="d-flex align-items-center lh-1 me-3">
                <span class="badge badge-dot bg-dark me-2"></span>
                <span id="BreadRations_E_Name">400-500 کیسه</span>
              </div>
              <div class="d-flex gap-1">
                <span id="BreadRations_E_Percent" class="text-muted">(-)</span>
                <span class="fw-semibold" id="BreadRations_E_Count">-</span>
              </div>
            </li>

            <li class="mb-2 d-flex justify-content-between">
              <div class="d-flex align-items-center lh-1 me-3">
                <span class="badge badge-dot bg-info me-2"></span>
                <span id="BreadRations_F_Name">500-600 کیسه</span>
              </div>
              <div class="d-flex gap-1">
                <span id="BreadRations_F_Percent" class="text-muted">(-)</span>
                <span class="fw-semibold" id="BreadRations_F_Count">-</span>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <!-- /BreadRations -->





    <!-- BakersRisk -->
    <div class="col-md-12 col-lg-6 col-xl-6  order-3 order-lg-0 mb-4">
      <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div class="card-title mb-0">
            <h5 class="m-0 me-2 mb-2">ریسک نانوا</h5>
            <small class="text-muted">واحد: تعداد نانوایی‌ها</small>
          </div>
        </div>
        <div class="card-body pb-0">
          <div id="bakersRiskBarChart"></div>
        </div>
      </div>
    </div>
    <!-- / BakersRisk -->

    <!-- HouseholdRisk -->
    <div class="col-md-12 col-lg-6 col-xl-6  order-3 order-lg-0 mb-4">
      <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div class="card-title mb-0">
            <h5 class="m-0 me-2 mb-2">ریسک خانوار</h5>
            <small class="text-muted">واحد: تعداد نانوایی‌ها</small>
          </div>
        </div>
        <div class="card-body pb-0">
          <div id="householdRiskBarChart"></div>
        </div>
      </div>
    </div>
    <!-- / HouseholdRisk -->
  </div>
</div>
<!-- ======================================================================= -->
<!-- /Container -->
<!-- ======================================================================= -->

{% endblock %}