{% extends 'table/base.html' %}

{% block title %} جدول‌ها {% endblock %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  
  <!-- Table -->
  <div class="row">

    <!-- Table -->
    <div class="col-12 mb-4">
      <div class="card p-3">

        <!-- Search Box -->
        <div class="search-container pb-2">
          <div class="col-12">
            <div class="input-group input-group-merge">
              <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
              <input type="text" id="search" class="form-control" placeholder="جستجو ...">
            </div>
            <div class="pt-2 ps-2 text-muted">
              <span>تعداد کل رکوردها: </span>
              <span id="total">0</span>
              <span>عدد</span>
            </div>
          </div>
        </div>
        <!-- Search Box -->

        <!-- Pagination Controls -->
        <div class="col-12 mb-2">
          <div class="divider divider-dashed">
            <div class="divider-text fs-5">
              <button id="prev-page" class="btn btn-secondary btn-sm">قبلی</button>
              <span id="page-info"></span>
              <button id="next-page" class="btn btn-secondary btn-sm">بعدی</button>
            </div>
          </div>
        </div>
        <!-- / Pagination Controls -->

        <!-- Div Table -->
        <div class="table-responsive text-nowrap">
          <table class="table table-hover">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0" id="bakeries-table-body">
            </tbody>
          </table>
        </div>
        <!-- / Div Table -->

        <!-- Delete Modal -->
        {% include 'table/includes/delete_record_modal.html' %}
        <!-- / Delete Modal -->

        <!-- Edit Modal -->
        {% with data=data %}
          {% include 'table/includes/edit_record_modal.html' %}
        {% endwith %}
        <!-- / Edit Modal -->

      </div>
    </div>
    <!-- / Table -->
      
  </div>
  <!-- / Table -->

</div>
{% endblock %}