{% extends 'map/base.html' %}

{% block title %}
نقشه‌ها
{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <!-- Controler and Map -->
  <div class="row">

    <!-- ------------------------------------------------------------------- -->
    <!-- Form Control -->
    <!-- ------------------------------------------------------------------- -->
    <div class="col-lg-3 col-md-5 col-sm-12 mb-4">
      <div class="accordion accordion-header-primary" id="accordionStyle1">

        <!-- --------------------------------------------------------------- -->
        <!-- Position -->
        <!-- --------------------------------------------------------------- -->
        <div class="accordion-item card active">
          <h2 class="accordion-header">
            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionStyle1-3"
              aria-expanded="true">
              انتخاب منطقه
            </button>
          </h2>
          <div id="accordionStyle1-3" class="accordion-collapse collapse show" data-bs-parent="#accordionStyle1">
            <div class="accordion-body m-2">
              <!-- Ostan -->
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="ostan" class="form-label">استان</label>
                  <select id="ostan" class="form-select w-100" data-style="btn-default"
                    data-placeholder="انتخاب کنید ...">
                    <option value="">انتخاب کنید ...</option>
                  </select>
                </div>
              </div>
              <!-- Shahrestan -->
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="shahrestan" class="form-label">شهرستان</label>
                  <select id="shahrestan" class="form-select w-100" data-style="btn-default"
                    data-placeholder="انتخاب کنید ...">
                    <option value="">انتخاب کنید ...</option>
                  </select>
                </div>
              </div>
              <!-- Bakhsh -->
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="bakhsh" class="form-label">بخش</label>
                  <select id="bakhsh" class="form-select w-100" data-style="btn-default"
                    data-placeholder="انتخاب کنید ...">
                    <option value="">انتخاب کنید ...</option>
                  </select>
                </div>
              </div>
              <!-- Shahr / Rosta -->
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="shahr" class="form-label">شهر / روستایی</label>
                  <select id="shahr" class="form-select w-100" data-style="btn-default"
                    data-placeholder="انتخاب کنید ...">
                    <option value="">انتخاب کنید ...</option>
                  </select>
                </div>
              </div>
              <!-- Region -->
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="region" class="form-label">منطقه</label>
                  <select id="region" class="form-select w-100" data-style="btn-default"
                    data-placeholder="انتخاب کنید ...">
                    <option value="">انتخاب کنید ...</option>
                  </select>
                </div>
              </div>
              <!-- District -->
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="district" class="form-label">ناحیه</label>
                  <select id="district" class="form-select w-100" data-style="btn-default"
                    data-placeholder="انتخاب کنید ...">
                    <option value="">انتخاب کنید ...</option>
                  </select>
                </div>
              </div>
              <!-- Clear Bottun -->
              <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="d-grid  mx-auto">
                      <button class="btn btn-primary" type="button" id="clear-region-form">
                        <span class="tf-icons bx bxs-brush-alt me-1"></span>پاک کردن
                      </button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- --------------------------------------------------------------- -->
        <!-- Parameter -->
        <!-- --------------------------------------------------------------- -->
        <div class="accordion-item card">
          <h2 class="accordion-header">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
              data-bs-target="#accordionStyle1-2" aria-expanded="false">
              انتخاب مشخصه
            </button>
          </h2>
          <div id="accordionStyle1-2" class="accordion-collapse collapse" data-bs-parent="#accordionStyle1">
            <div class="accordion-body">
              <!-- Bread Types -->
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="bread_types" class="form-label">نوع نان</label>
                  <select id="bread_types" class="form-select w-100" data-style="btn-default"
                    data-placeholder="انتخاب کنید ...">
                    <option value="">انتخاب کنید ...</option>
                  </select>
                </div>
              </div>
              <!-- Flour Types -->
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="flour_types" class="form-label">نوع آرد</label>
                  <select id="flour_types" class="form-select w-100" data-style="btn-default"
                    data-placeholder="انتخاب کنید ...">
                    <option value="">انتخاب کنید ...</option>
                  </select>
                </div>
              </div>
              <!-- Second Fuel -->
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="second_fuel" class="form-label">سوخت دوم</label>
                  <select id="second_fuel" class="form-select w-100" data-style="btn-default"
                    data-placeholder="انتخاب کنید ...">
                    <option value="">انتخاب کنید ...</option>
                  </select>
                </div>
              </div>
              <!-- Bakers Risk -->
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="bakers_risk" class="form-label">ریسک نانوا</label>
                  <select id="bakers_risk" class="form-select w-100" data-style="btn-default"
                    data-placeholder="انتخاب کنید ...">
                    <option value="">انتخاب کنید ...</option>
                  </select>
                </div>
              </div>
              <!-- Household Risk -->
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="household_risk" class="form-label">ریسک خانوار</label>
                  <select id="household_risk" class="form-select w-100" data-style="btn-default"
                    data-placeholder="انتخاب کنید ...">
                    <option value="">انتخاب کنید ...</option>
                  </select>
                </div>
              </div>
              <!-- Ownership Status -->
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="ownership_status" class="form-label">وضعیت ملک</label>
                  <select id="ownership_status" class="form-select w-100" data-style="btn-default"
                    data-placeholder="انتخاب کنید ...">
                    <option value="">انتخاب کنید ...</option>
                  </select>
                </div>
              </div>
              <!-- Clear Bottun -->
              <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="d-grid  mx-auto">
                      <button class="btn btn-primary" type="button" id="clear-parameter-form">
                        <span class="tf-icons bx bxs-brush-alt me-1"></span>پاک کردن
                      </button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- --------------------------------------------------------------- -->
        <!-- Layers -->
        <!-- --------------------------------------------------------------- -->
        <div class="accordion-item card">
          <h2 class="accordion-header">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
              data-bs-target="#accordionStyle1-1" aria-expanded="false">
              تنظیمات لایه‌ها
            </button>
          </h2>
          <div id="accordionStyle1-1" class="accordion-collapse collapse" data-bs-parent="#accordionStyle1">
            <div class="accordion-body m-2">
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" id="showRegion" checked />
                <label class="form-check-label" for="showRegion">لایه مناطق شهری</label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" id="showDistrict" checked />
                <label class="form-check-label" for="showDistrict">لایه مناطق و نواحی
                  شهری</label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" id="showRatioRegion" checked />
                <label class="form-check-label" for="showRatioRegion">نسبت نانوایی‌ها به جمعیت مناطق</label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" id="showRatioDistrict" checked />
                <label class="form-check-label" for="showRatioDistrict">نسبت نانوایی‌ها به جمعیت نواحی</label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- ------------------------------------------------------------------- -->
    <!-- /Form Control -->
    <!-- ------------------------------------------------------------------- -->

    <!-- ------------------------------------------------------------------- -->
    <!-- Map -->
    <!-- ------------------------------------------------------------------- -->
    <div class="col-lg-9 col-md-7 col-sm-12  mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="leaflet-map w-100" id="map"></div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------- -->
    <!-- / Map -->
    <!-- ------------------------------------------------------------------- -->

  </div>
  <!--/ Controler and Map  -->
</div>
{% endblock %}