{% extends 'database/base.html' %}

{% block title %} مدیریت پایگاه داده {% endblock %}

{% block content %}

<div class="row">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="col-12 mb-2">
            <div class="divider">
                <div class="divider-text fs-4">خطاهای رخ داده</div>
            </div>
        </div>
        <div class="col-12">
            <textarea rows="10" cols="30" id="element-Status" class="form-control text-white bg-gray"></textarea>
        </div>
    </div>
</div>

{% endblock %}