

<!-- Helpers -->
<script src="{{ url_for('static', filename='vendor/js/helpers.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/template-customizer.js') }}"></script>
<script src="{{ url_for('static', filename='js/config.js') }}"></script>


<!-- Core JS -->
<script src="{{ url_for('static', filename='vendor/libs/jquery/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/popper/popper.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/hammer/hammer.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/i18n/i18n.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/typeahead-js/typeahead.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/menu.js') }}"></script>


<!-- Main JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
