<!-- Edit Modal -->
<div class="modal-onboarding modal fade animate__animated" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <div class="col-12">
                    <div class="divider">
                        <div class="divider-text fs-4">ویرایش</div>
                    </div>
                </div>
            </div>
            <div class="modal-body py-0">
                <form id="editForm">
                    <div class="row g-3 p-3" style="text-align: right !important">
                        <input type="hidden" id="editID">
                        <div class="col-sm-4">
                            <label class="form-label" for="editFirstName">نام</label>
                            <input type="text" id="editFirstName" class="form-control" placeholder="نام" />
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label" for="editLastName">نام خانوادگی</label>
                            <input type="text" id="editLastName" class="form-control" placeholder="نام خانوادگی" />
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label" for="editNID">کدملی</label>
                            <input type="text" id="editNID" class="form-control" placeholder="کدملی" />
                        </div>
                    </div>
                    <div class="row g-3 p-3" style="text-align: right !important">
                        <input type="hidden" id="editID">
                        <div class="col-sm-4">
                            <label class="form-label" for="editPhone">تلفن همراه</label>
                            <input type="text" id="editPhone" class="form-control" placeholder="تلفن همراه" />
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label" for="editBakeryID">شماره خبازی</label>
                            <input type="text" id="editBakeryID" class="form-control" placeholder="شماره خبازی" />
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label" for="editNumberViolations">تعداد تخلفات نانوایی</label>
                            <input type="number" step="1" id="editNumberViolations" class="form-control"
                                placeholder="تعداد تخلفات نانوایی" />
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="editOwnershipStatus">نوع ملک نانوایی</label>
                            <select class="select2" id="editOwnershipStatus" data-placeholder="نوع ملک نانوایی">
                                {% for option in data.ownership_status_options %}
                                <option>{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="editSecondFuel">سوخت دوم</label>
                            <select class="select2" id="editSecondFuel" data-placeholder="سوخت دوم">
                                {% for option in data.second_fuel_options %}
                                <option>{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row g-3 p-3" style="text-align: right !important">
                        <div class="col-sm-4">
                            <label class="form-label" for="editTypeFlour">نوع آرد</label>
                            <select class="select2" id="editTypeFlour" data-placeholder="نوع آرد را انتخاب کنید">
                                {% for option in data.type_flour_options %}
                                <option>{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label" for="editTypeBread">نوع پخت</label>
                            <select class="select2" id="editTypeBread" data-placeholder="نوع پخت را انتخاب کنید">
                                {% for option in data.type_bread_options %}
                                <option>{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label" for="editBreadRations">تعداد سهمیه</label>
                            <input type="number" step="1" id="editBreadRations" class="form-control"
                                placeholder="تعداد سهمیه را انتخاب کنید" />
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="editHouseholdRisk">ریسک خانوار</label>
                            <select class="select2" id="editHouseholdRisk"
                                data-placeholder="ریسک خانوار را انتخاب کنید">
                                {% for option in data.household_risk_options %}
                                <option>{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="editBakersRisk">ریسک نانوا</label>
                            <select class="select2" id="editBakersRisk" data-placeholder="ریسک نانوا را انتخاب کنید">
                                {% for option in data.bakers_risk_options %}
                                <option>{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer border-0 pt-3 d-flex justify-content-center">
                        <button type="button" class="btn btn-lg btn-label-secondary" data-bs-dismiss="modal">
                            بستن
                        </button>
                        <button type="submit" class="btn btn-lg btn-primary">اعمال تغییرات</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Edit Modal -->