<!-- Delete Modal -->
<div class="modal fade" id="deleteTableModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">حذف جدول داده‌ها</h5>
            </div>
            <div class="modal-body">
                <p>آیا از حذف جدول داده‌ها مطمئن هستید؟</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                    خیر
                </button>
                <button type="button" class="btn btn-danger" id="confirmTableDelete">بله</button>
            </div>
        </div>
    </div>
</div>
<!-- / Delete Modal -->