<div class="row">
    <div class="col-12 mb-2">
        <div class="divider">
            <div class="divider-text fs-4">بارگزاری فایل داده‌ها</div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body demo-vertical-spacing demo-only-element">
                <form action="/api/database/upload" method="post" enctype="multipart/form-data">
                    <div class="input-group">
                        <input id="pooya" type="file" name="file" class="form-control" accept=".csv" required />
                        <button class="btn btn-primary" type="submit">اضافه کردن</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>