<div class="row">
    <div class="col-12 mb-2">
        <div class="divider">
            <div class="divider-text fs-4">مدیریت مشخصه‌ها</div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body demo-vertical-spacing demo-only-element">
                <div class="row gy-4">
                    <div class="col-12">
                        <div class="row">
                            <div class="divider text-start">
                                <div class="divider-text text-light fw-medium">انتخاب مشخصه</div>
                            </div>
                            <div class="demo-inline-spacing">
                                <select id="columnSelect" class="select2" data-placeholder="یک مشخصه را انتخاب کنید..."
                                    onchange="fetchCategories()">
                                    <option value="">یک مشخصه را انتخاب کنید...</option>
                                    <option value="ownership_status">نوع ملک</option>
                                    <option value="second_fuel">سوخت دوم</option>
                                    <option value="household_risk">ریسک خانوار</option>
                                    <option value="bakers_risk">ریسک نانوا</option>
                                    <option value="type_flour">نوع آرد</option>
                                    <option value="type_bread">نوع پخت</option>
                                </select>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="divider text-start">
                                <div class="divider-text text-light fw-medium">اضافه کردن آیتم جدید</div>
                            </div>
                            <div class="demo-inline-spacing">
                                <div class="input-group">
                                    <input type="text" id="newCategory" class="form-control" placeholder="آیتم جدید را وارد کنید..." />
                                    <button class="btn btn-outline-primary" type="button" onclick="addCategory()">اضافه
                                        کردن</button>
                                </div>
                                <div id="alertBox" style="display: none;" role="alert"></div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="divider text-start">
                                <div class="divider-text text-light fw-medium">آیتم‌ها</div>
                            </div>
                            <div class="demo-inline-spacing">
                                <div class="demo-inline-spacing mt-3">
                                    <ul id="itemsList" class="list-group list-group-timeline">

                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>