<div class="row">
    <div class="col-12 mb-2">
        <div class="divider">
            <div class="divider-text fs-4">دانلود داده‌ها</div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body demo-vertical-spacing demo-only-element">
                <div class="row gy-4 text-center">
                    <div class="col-12">
                        <button id="downloadData" type="button" class="btn btn-xl rounded-pill btn-secondary">
                            <span class="tf-icons bx bx-download me-3" style="font-size: 1em;"></span>دانلود داده‌ها
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>