.leaflet-popup-content-wrapper {
  font-family: iranyekan !important;
  direction: rtl !important;
  text-align: right !important;
}

.leaflet-popup-content {
  font-family: iranyekan !important;
  line-height: 1.5rem !important;
}

.card-sunburst {
  display: flex;
  justify-content:center;
  align-items: center;
}

.bs-stepper .bs-stepper-header .step .bs-stepper-circle {
  font-family: iranyekan !important;
}

.leaflet-tooltip {
  font-family: iranyekan !important;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
}

.clickable-header {
  cursor: pointer; /* Displays a hand cursor */
  text-decoration: underline; /* Optional: Adds an underline for a visual cue */
}
.clickable-header:hover {
  color: #007bff; /* Optional: Changes the color on hover */
}
